html,
body {
  margin: 0;
  background-color: black !important;
}

p {
  color: white;
  font-family: "lemon";
  text-align: center;
}

canvas {
  max-width: 100%;
  margin: 0;
  display: flex;
  border: 20px solid #bada55;
  background-color: white;
}

.navbar {
  margin: 0;
  padding: 20px !important;
  width: 100%;
  background: linear-gradient(
    45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  ) !important;
}

.navbar-brand {
  margin: auto !important;
  font-family: "lemon" !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
}

.btn {
  display: flex !important;
  margin: 20px auto !important;
  padding: 10px !important;
  border: solid 5px red !important;
}


/* Footer */
.footer {
  display: flex;
  width: 100%;
  color: #dbedf3 !important;
  background-color: #0077b6;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'lemon';
  font-size: 1rem !important;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bi {
  color: #dbedf3 !important;
  font-size: 2em;
}